<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<p>
  <b>Isocode:</b>
  <%= @country.isocode %>
</p>

<p>
  <b>Description:</b>
  <%= @country.description %>
</p>
<h2>Resorts:</h2>
<table>
  <tr>
    <th>Name</th>
    
  </tr>

<% @resorts.each do |resort| %>
  <tr>
    <td><%= resort.name %></td>
   </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
